
.banner {
  background-image:linear-gradient(#d86a6a, #fdfdfd);
 text-align: center;
}

.enter-name{
text-align: center;
 margin: 100px auto;
 
}
.button{
  margin-bottom: 0%;
  justify-content: auto;
  font-size: 20px;
  font-family: initial;
  
}

h1 {
  color: #795e5e;
  margin-left: 237px;
  margin-right: 237px;
  margin-bottom: 97px;
  margin-top: 39px; 
}

