@keyframes fadeinout {
  from { opacity: 0; }
  50% { opacity: 1;}
  to { opacity: 0; }
}

#remove {
  animation: fadeinout 2s infinite;
}


.messageEnd{
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 10;
  color: white;
  background-color: black;
  font-size: 30px;
  text-align: center;
  border-radius: 7px;
  }
    

/* ------------------------------------HEADER WITH TITLE--------------------------------- */


.banner {
background-image:url("http://r2d.psuken.info/_img/illustration/jeux/shifumi.png"), linear-gradient(#d86a6a, #fdfdfd);
 text-align: center;
 background-size: contain, contain;
 background-repeat: no-repeat, no-repeat;
 background-position: right, top; 
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.title {
  animation-name: bounceInDown;
  animation-duration: 0.75s;
}

.title-game{
  animation-name: bounceInDown;
  animation-duration: 0.75s;
  color: #ffdafb;
  margin-left: 237px;
  margin-right: 237px;
  margin-top: 30px; 
  font-size: 61px;
  font-family: 'Megrim', cursive;
  font-weight: 900;
   background: -webkit-gradient(linear, left top, left bottom, from(rgb(221, 182, 182)), to(rgb(116, 95, 95)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#baniere{
  height: 70px;
}
/* ----------------------------------------INPUT NAME START------------------------------- */
.enter-name{
  text-align: center;
  margin: 50px auto;
 
  }
  .button{
    margin-bottom: 0%;
    justify-content: auto;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    color: #635447;
    background-color: #deabab;
  }

  label{
    font-family: sans-serif;
  }

/* -------------------------------------USERS--------------------------------------------- */
.row{
  display: flex;
justify-content: space-around;
width: 100%;

}
/* ---------------------------------------USER 1----------------------------------------- */
 .name-user{
display: flex;
justify-content: center;
color: #9c6996;
margin-top: 16px;
margin-bottom: 16px;
font-family: 'Jua', sans-serif;
font-size: 30px;
 }

#user-1{
  background-color: #ffffff;
  height: 550px;
  width: 920px;
  margin-left: 26px;
}

#photo-player {
  width: 346px;
  height: 346px;
  
}

.photo-user-1 {
  display: flex;
justify-content: center;
}
/*  ----------------------------------MESSAGE CHOICE YOUR ELEMENT USER ------------------ */
@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
  animation-duration: 0.75s;
}

#msg-choice{
  color: #b65050;
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-top: 14px;
  font-family: 'Megrim', cursive;
  font-weight: bold;
}

//                                 SCORE                                                        
.score{
width: 250px;
height: 90px;
}

#title-score{
  text-transform: uppercase;
  font-family: 'Chewy', cursive;
  font-size: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 231, 240)), to(rgb(197, 105, 105)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#scoreItems{
  margin: 0;
color: rgb(119, 67, 67);
width: 200px;
font-size: 20px;
color: #955b84;
}

#score-root, #score-user{
  margin: 0;
  width: 100px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;

}
/* --------------------------------------BOUTONS USER ------------------------------------ */
.buttons-user-1{
  display: flex;
justify-content: space-around;
margin-top: 44px;
font-size: 23px;
margin-top: 28px;

}

.buttons-user-1 button{
background-color: #ffffff;
text-align: center;
text-decoration: none;
border-radius: 6px;
border-style: outset;
color: #635447;
font-family: 'Jua', sans-serif;

}

.buttons-user-1 button:hover {
  box-shadow: 0 12px 16px 0 rgba(155, 105, 129, 0.842),4px 4px 4px 0 rgba(155, 105, 129, 0.842);
}

/* -----------------------------------MESSAGES WIN , LOSE , RETRY--------------------------- */
.messages{
display: inline-block;

}

/* -------------------------------------MESSAGE WIN --------------------------------------------*/
#msg-win{
border:2px solid #c2a9a9;
width: 579px;
height: 136px;
margin-bottom: 33px;
background-color: #cbb79e;
}

.win{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width:400px;
}
.txt-win{
  display: inline;
  justify-content: center;
  margin-left: 9px;
  font-size: 35px;
  font-family: 'Chewy', cursive;
}

.btn-replay-win {
  box-shadow: 1px 2px 5px #000000; 
  background-color: #fff6f6;  
  font-size: 18px;
padding: 3px;
border-radius: 10px;
}

.btn-replay-win:hover {
  background-color: #ffc2c2;
  cursor: pointer;
}

#icone-win{
color: #ffe208;
font-size: 50px;
margin-left: 12px;
}

/* -------------------------------------MESSAGE LOOSE --------------------------------------------*/
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
  animation-duration: 0.75s;
}

#msg-lose{
  border:2px solid #c2a9a9;
  width: 579px;
  height: 136px;
  margin-bottom: 33px;
  background-color: #cbb79e;
  
  }
  
  .lose{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width:400px;
  }
  .txt-lose{
    display: inline;
justify-content: center;
margin-left: 48px;
font-size: 35px;
font-family: 'Chewy', cursive;
margin-right: 0px;
text-align: center;
  }
  
  .btn-replay-lose {
    box-shadow: 1px 2px 5px #000000; 
    background-color: #fff6f6;  
    font-size: 18px;
  padding: 3px;
  border-radius: 10px;
  }
  
  .btn-replay-lose:hover {
    background-color: #ffc2c2;
    cursor: pointer;
  }
  #icone-lose{
  color:  #6f6f6f;
  font-size: 50px;
  margin-left: 12px;
  }

/* -------------------------------------MESSAGE RETRY --------------------------------------------*/
#msg-retry{
  border:2px solid #c2a9a9;
  width: 579px;
  height: 136px;
  margin-bottom: 33px;
  background-color: #cbb79e;
 
  }
  
  .retry{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width:400px;
  }
  .txt-retry{
    display: inline;
    justify-content: center;
    margin-left: 100px;
    font-size: 35px;
    font-family: 'Chewy', cursive;
  }
  
  .btn-replay-retry {
    box-shadow: 1px 2px 5px #000000; 
    background-color: #fff6f6;  
    font-size: 18px;
  padding: 3px;
  border-radius: 10px;
  }
  
  .btn-replay-retry:hover {
    background-color: #ffc2c2;
    cursor: pointer;
  }
  #icone-retry{
  color: #ffffff;
  font-size: 50px;
  margin-left: 12px;
  }

/* ----------------------------------RROOOT-------------------------------------------------- */
.name-root{
 
  display: flex;
  justify-content: center;
  margin-top: 16px;
margin-bottom: 16px;
font-family: 'Jua', sans-serif;
font-size: 30px;
color: #bc874c;
}

#user-root{
  background-color: #ffffff;
  height: 550px;
  width: 920px;
}

#photo-root{
  width: 346px;
  height: 346px;
}

.photo-user-root{
  display: flex;
justify-content: center;
}

