/* ------------------------------------HEADER WITH TITLE--------------------------------- */
.banner {
  background-image:linear-gradient(#d86a6a, #fdfdfd);
 text-align: center;
}

h1 {
  color: #795e5e;
  margin-left: 237px;
  margin-right: 237px;
  /* margin-bottom: 97px; */ 
  margin-top: 39px; 
  font-family: 'Megrim', cursive;
}
/* input et start du jeu  */

.enter-name{
  text-align: center;
  margin: 50px auto;
 
  }
  .button{
    margin-bottom: 0%;
    justify-content: auto;
    font-size: 20px;
    font-family: initial;
    
  }
/* -------------------------------------USERS--------------------------------------------- */
.row{
  display: flex;
justify-content: space-around;
}

 .name-user{
border: 2px solid firebrick;
display: flex;
justify-content: center;
color: #ccbaba;
 }

#user-1{
  background-color: #795e5e;
  height: 550px;
  width: 920px;
}

.photo-user-1 {
  display: flex;
justify-content: center;
}

.buttons-user-1{
  display: flex;
justify-content: space-around;
margin-top: 44px;
font-size: 23px;
cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button{
  background-color: blanchedalmond;
  text-align: center;
    text-decoration: none;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.name-root{
  border: 2px solid firebrick;
  display: flex;
  justify-content: center;
}

#user-root{
  background-color: bisque;
  height: 550px;
  width: 920px;
}

.photo-user-root{
  display: flex;
justify-content: center;
}


